<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador de Tarefas</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- ======= Header ======= -->
  <header class="main-header">
    <nav>
      <ul class="nav-links">
        <li><a href="/cars.html">Carros</a></li>
        <li><a href="/person.html">Pessoas</a></li>
        <li><a href="/personCars.html">Associações</a></li>
      </ul>
    </nav>
  </header>

  <script src="script.js"></script>
</body>
</html>
